<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
  <head>
    <title layout:title="Foros Secundario"></title>
  </head>
<body>
<main layout:fragment="content">
  <div class="container py-5">
    <a class="btn btn-link text-decoration-none" th:href="@{/foro/principal}" style="font-size: 1.2rem;">
        <i class="bi bi-arrow-left-circle-fill"></i> <span th:text="#{volver}">Volver</span>
    </a>
      <div th:switch="${tema.nombre}">
          <div th:case="'Trámites-Documentación'">
              <div th:replace="foros/tramites :: contenidoForo"></div>
          </div>
          <!--////////////////////////////////////////////////////////////////////////////////////-->
          <div th:case="'Vivienda'">
          <div th:replace="foros/vivienda :: contenidoForo"></div>
          </div>
          
          <div th:case="'Empleo'">
          <div th:replace="foros/empleo:: contenidoForo"></div>
          </div>

          <div th:case="'Educación'">
          <div th:replace="foros/educacion :: contenidoForo"></div>
          </div>

          <div th:case="'Salud'">
          <div th:replace="foros/salud :: contenidoForo"></div>
          </div>

          <div th:case="'Otros'">
          <div th:replace="foros/otros :: contenidoForo"></div>
          </div>

            <div th:case="*">
            <p>Foro no encontrado.</p>
            </div>
        </div>
    </main>
</body>
</html>
