<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title layout:title="Crear usuario"></title>
</head>

<main layout:fragment="content">
    <div class="container-fluid mt-5">
        <form th:action="@{/usuario/crear}" method="post" class="mx-auto gureForm">
            <button type="button" class="btn btn-link mb-2 p-0" onclick="window.history.back();" style="text-decoration:none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
                </svg>
            </button>
            <h4 class="text-center" th:text="#{usuario.crear.titulo}">Crear User</h4>

            <div class="mb-3">
                <label for="nombre" class="form-label" th:text="#{usuario.nombre}">Nombre:</label>
                <input type="text" id="nombre" class="form-control" name="nombre" required>
            </div>

            <div class="mb-3 mt-5">
                <label for="apellido" class="form-label" th:text="#{usuario.apellido}">Apellido:</label>
                <input type="text" id="apellido" name="apellido" class="form-control" required>
            </div>

            <div class="mb-3 mt-5">
                <label for="username" class="form-label" th:text="#{usuario.usuario}">Nombre de Usuario:</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>

            <div class="mb-3 mt-5">
                <label for="contraseña" class="form-label" th:text="#{usuario.contraseña}">Contraseña:</label>
                <input type="password" id="contraseña" name="contraseña" class="form-control" required>
            </div>

            <div class="mb-3 mt-5">
                <label for="email" class="form-label" th:text="#{usuario.email}">Email:</label>
                <input type="email" id="email" name="email" class="form-control">
            </div>

            <div class="mb-3 mt-5">
                <label for="ciudadID" class="form-label" th:text="#{usuario.ciudad}">Ciudad:</label>
                <select id="ciudadID" name="ciudadID" class="form-select" required>
                    <option value="" th:text="#{usuario.elegir_ciudad}">Selecciona una ciudad...</option>
                    <th:block th:each="ciudad : ${ciudades}">
                        <option th:value="${ciudad.ciudadID}" th:text="${ciudad.nombre}"></option>
                    </th:block>
                </select>
            </div>

            <div class="mb-3 mt-5">
                <label for="paisID" class="form-label" th:text="#{usuario.pais}">Pais:</label>
                <select id="paisID" name="paisID" class="form-select" required>
                    <option value="" th:text="#{usuario.elegir_pais}">Selecciona un pais...</option>
                    <th:block th:each="pais : ${paises}">
                        <option th:value="${pais.paisID}" th:text="${pais.nombre}"></option>
                    </th:block>
                </select>
            </div>

            <div class="mt-5">
                <label for="tipo" class="form-label" th:text="#{usuario.tipo}">Tipo de Usuario:</label>
                <select name="tipo" id="tipo" class="form-select" required>
                    <option value="" th:text="#{usuario.selecciona}">Selecciona...</option>
                    <option value="voluntario" th:text="#{usuario.voluntario}">Voluntario</option>
                    <option value="recienllegado" th:text="#{usuario.recienllegado}">Recién Llegado</option>
                </select>
            </div>

            <!--RECIEN-LLEGADO-->
            <div class="recienllegado borrar" >

                <div class="mb-3 mt-5">
                    <label for="lenguaje" class="form-label" th:text="#{usuario.idioma_principal}">Idioma Principal:</label>
                    <select id="lenguaje" name="lenguaje" class="form-select" required>
                        <option value="" th:text="#{usuario.idioma}">Selecciona un idioma...</option>
                        <option value="es">ES</option>
                        <option value="en">EN</option>
                        <option value="fr">FR</option>
                        <option value="ar">AR</option>
                    </select>
                </div>

                <div class="mb-3 mt-5">
                    <label for="fecha_llegada" class="form-label" th:text="#{usuario.llegada}">Fecha de Llegada:</label>
                    <input type="date" id="fecha_llegada" name="fecha_llegada" class="form-control">
                </div>

                <div class="mb-3 mt-5">
                    <label for="necesidades" class="form-label" th:text="#{usuario.necesidades}">Necesidades:</label>
                    <input type="text" id="necesidades" name="necesidades" class="form-control">
                </div>
            </div>


            <!--VOLUNTARIO-->
            <div class="voluntario borrar" >
                <div class="mb-3 mt-5">
                    <label for="habilidades" class="form-label" th:text="#{usuario.habilidades}">Habilidades:</label>
                    <input type="text" id="habilidades" name="habilidades" class="form-control">
                </div>
                <div class="mb-3 mt-5">
                    <label for="motivacion" class="form-label" th:text="#{usuario.motivacion}">Motivación:</label>
                    <input type="text" id="motivacion" name="motivacion" class="form-control">
                </div>
            </div>
 
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

        
            <button type="submit" class="btn btn-primary mt-4" th:text="#{usuario.crear}">Crear</button>
        </form>
    </div>
</main>
</html>
