<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:title="Apuntado a evento"></title>
</head>
    <main layout:fragment="content">
        <div th:replace="headerInmigrante :: header"></div>

        <div class="container d-flex justify-content-center my-5">
            <div class="card shadow p-4 w-100" style="max-width: 1000px; border-radius: 1.5rem;">
            <div class="row g-4">
                <!-- Imagen -->
                <div class="col-md-6 d-flex align-items-center">
                <img th:src="'https://picsum.photos/600/400'" class="img-fluid rounded" alt="Imagen del evento">
                </div>

                <!-- Texto -->
                <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="mb-3" th:text="${evento.titulo}">Título del evento</h2>
                <p th:text="${evento.descripcion}">Descripción completa del evento</p>

                <!-- Aquí puedes meter más atributos si quieres -->
                <!-- <p><strong>Fecha:</strong> <span th:text="${evento.fecha}"></span></p> -->
                <p>Estas apuntado</p>
                

                <a th:href="@{/eventos/listaEventos}" class="btn btn-success mt-4">Volver</a>
                </div>
            </div>
            </div>
        </div>
    </main>
</html>