<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title layout:title="Detalle del evento"></title>
</head>

<main layout:fragment="content">

    <div class="container d-flex justify-content-center my-5">
        <div class="card shadow p-4 w-100" style="max-width: 1000px; border-radius: 1.5rem;">
            <div class="row g-4">
                <!-- Imagen -->
                <div class="col-md-4">
                    <img th:src="${#strings.isEmpty(evento.imagen) ? '/images/' + evento.categoria.categoriaID + '.png' : evento.imagen}" class="img-fluid rounded-start h-100" alt="Card image cap">
                </div>

                <!-- Texto -->
                <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="mb-3" th:text="${evento.titulo}">Título del evento</h2>
                    <p class="card-text">
                    <small class="text-muted" th:text="'Ciudad: ' + ${evento.ciudad.nombre}"></small><br>
                    <small class="text-muted" th:text="'Lugar: ' + ${evento.lugar} + ' - Fecha: ' + ${evento.fechaHora}">Fecha y lugar</small>
                    </p>
                <p th:text="${evento.descripcion}">Descripción completa del evento</p>

                <!-- Aquí puedes meter más atributos si quieres -->
                <!-- <p><strong>Fecha:</strong> <span th:text="${evento.fecha}"></span></p> -->

                <form th:action="@{/eventos/{eventoID}/desapuntarse(eventoID=${evento.eventoID})}" method="post" class="mt-4">
                    <button class="btn btn-danger">Desapuntarse</button>
                </form>
                </div>
            </div>
        </div>
    </div>
</main>
</html>