<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <title layout:title="Detalle del evento"></title>
</head>

<main layout:fragment="content">
  <div class="container d-flex justify-content-center my-5">
    <div class="card shadow p-4 w-100" style="max-width: 1000px; border-radius: 1.5rem;">
      <div class="row g-0">
        <!-- Imagen -->
        <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
          <img th:src="@{'/images/' + ${evento.categoria.categoriaID} + '.png'}"
               class="img-fluid rounded-start"
               style="max-width: 90%; max-height: 250px;"
               alt="Card image cap">
        </div>
        <!-- Texto -->
        <div class="col-12 col-md-8 d-flex align-items-center">
          <div class="card-body">
            <h2 class="mb-3" th:text="${evento.titulo}">Título del evento</h2>
            <p class="card-text">
              <small class="text-muted" th:text="#{evento.ciudad} + ': ' + ${evento.ciudad.nombre}">Ciudad</small><br>
              <small class="text-muted" th:text="${#messages.msg('evento.lugar')} + ': ' + ${evento.lugar}">Lugar</small><br>
              <small class="text-muted" th:text="${#messages.msg('evento.fecha')} + ': ' + ${#temporals.format(evento.fechaHora, 'yyyy-MM-dd')}">Fecha</small><br>
              <small class="text-muted" th:text="${#messages.msg('evento.hora')} + ': ' + ${#temporals.format(evento.fechaHora, 'HH:mm')}">Hora</small>
            </p>
            <p th:text="${evento.descripcion}">Descripción completa del evento</p>
            <div th:if="${!apuntado}">
              <form th:action="@{/eventos/{eventoID}/apuntarse(eventoID=${evento.eventoID})}" method="post" class="mt-4">
                <input type="hidden" name="redirectTo" value="listaEventos"/>
                <button class="btn btn-success" th:text="#{evento.apuntarse}">Apuntarse</button>
              </form>
            </div>
            <div th:if="${apuntado}">
              <form th:action="@{/eventos/{eventoID}/desapuntarse(eventoID=${evento.eventoID})}" method="post" class="mt-4">
                <input type="hidden" name="redirectTo" value="misEventos"/>
                <button class="btn btn-danger" th:text="#{evento.desapuntarse}">Desapuntarse</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</html>