<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title layout:title="Eventos"></title>
</head>

<main layout:fragment="content">

    <div class="container mt-4">
        <div class="row justify-content-center mb-4">
            <div class="col-12 text-center">
                <h3>
                    <i class="bi bi-collection"></i>
                    <span th:text="#{evento.lista.titulo}">Eventos locales</span>
                </h3>
            </div>
            <div class="col-md-6 col-12 d-flex justify-content-center">
                <form method="get" th:action="@{/eventos/listaEventos}" class="w-100 bg-white p-4 rounded shadow-sm d-flex flex-wrap gap-2 align-items-center justify-content-center">
                    <select name="categoria" class="form-select w-auto">
                        <option th:value="0"
                                th:selected="${categoriaSeleccionada == null or categoriaSeleccionada == 0 or categoriaSeleccionada == '0'}"
                                th:text="#{evento.categorias}">
                            Todas las categorías
                        </option>
                        <option th:each="cat : ${categorias}"
                                th:value="${cat.categoriaID}"
                                th:text="${#messages.msg('categoria.' + cat.categoriaID)}"
                                th:selected="${categoriaSeleccionada == cat.categoriaID}">
                        </option>
                    </select>
                </form>
            </div>
        </div>

        <div class="container">
            <div th:each="evento : ${eventos}">
                <a th:href="@{/eventos/{eventoID}(eventoID=${evento.eventoID})}" style="text-decoration: none; color: inherit;">
                    <div class="card mb-4" style="max-width: 1100px; margin: auto;">
                        <div class="row g-0">

                            <div class="col-md-4">
                                <img th:src="@{'/images/' + ${evento.categoria.categoriaID} + '.png'}" class="img-fluid rounded-start h-100" alt="Card image cap">
                            </div>

                            <div class="col-md-8 d-flex align-items-center">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${evento.titulo}" >Título del evento</h5>
                                    <p class="card-text" th:text="${evento.descripcion}">Descripción</p>
                                    <p class="card-text">
                                        <small class="text-muted" th:text="#{evento.ciudad} + ': ' + ${evento.ciudad.nombre}">Ciudad</small><br>
                                        <small class="text-muted"
                                            th:text="${#messages.msg('evento.lugar')} + ': ' + ${evento.lugar} + ' - ' + ${#messages.msg('evento.fecha')} + ': ' + ${evento.fechaHora}">
                                            Lugar y fecha
                                        </small>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </a>
            </div>

            <div th:if="${#lists.isEmpty(eventos)}" class="text-center text-muted w-100" th:text="#{evento.no_hay_eventos_disponibles_para_esta_categoría}">
                No hay eventos disponibles para esta categoría.
            </div>
        </div>
    </div>

</main>
</html>
