@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@200&display=swap");

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:rgb(140, 207, 240);
  font-family: 'Poppins', sans-serif;
}

form{
  width: 24%;
  background-color: whitesmoke;
  padding: 50px;
  border-radius: 20px;
  margin-top: 150px;
}

.btn-primary{
  width: 100%;
  border: none;
  border-radius: 50px;
  background-color: rgb(149, 190, 255);
}

.form-control{
  color: rgba(0, 0, 0, 0.87);
  border-bottom-color: rgba(0, 0, 0, 0.42);
  box-shadow: none !important;
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
}

h4{
  font-size: 2rem !important;
  font-weight: 700;
}

a {
  text-decoration: underline;
  color: #007bff; 
}

.form-label{
  font-family: 800 !important;
}

@media only screen and (max-width:600px){
  form{
    width: 100% !important;
  }
}

.navbar-brand {
  color: rgb(149, 190, 255) !important;
  font-weight: bolder;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: #007bff !important;
}

.nav-link {
  font-weight: bold;
  color: #6c757d !important;
}
    
.nav-link:hover {
   color: #343a40 !important;
}

.card-temas{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.15); 
    border-radius: 1rem;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.custom-card {
  max-width: 1400px !important;
  width: 100%;
  border-radius: 1rem;
  overflow: hidden;
  padding: 16px; /* Añade margen interno a la carta */
  background: #fff;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #fff;
}

.custom-img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  object-fit: cover;
  display: block;
  box-shadow: 0 2px 8px rgba(0,0,0,0.04);
  margin: 16px 0 16px 16px; /* margen: arriba, derecha, abajo, izquierda */
}

.object-fit-cover {
  object-fit: cover;
}

