<head>
    <link rel="stylesheet" href="/css/main.css">
    <!--script src="/js/asideScript.js"></script-->
</head>

<div th:fragment="aside">
    <div class="list-group">
        <!--a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            The current link item
        </a-->
        <form id="logoutForm" th:action="@{/logout}" method="post" style="display:none;"></form>
        <a href="#" class="list-group-item list-group-item-action" onclick="document.getElementById('logoutForm').submit(); return false;">
            Logout
        </a>
        
        <div>
            <a th:href="@{/usuario/editar}" class="list-group-item list-group-item-action d-flex align-items-start" tabindex="-1">
                <div class="col-2 text-center">
                    <i class="bi bi-person-circle fs-2"></i>
                </div>
                <div class="col-10 text-center align-items-center">
                    Perfil
                </div>
            </a>
        </div>
        
        <div>
            <a th:href="@{/encuestas}" class="list-group-item list-group-item-action d-flex align-items-start">
                <div class="col-2 text-center">
                    <i class="bi bi-clipboard fs-2"></i>
                </div>
                <div class="col-10 text-center">
                    Encuestas
                </div>
            </a>
        </div>
    </div>
</div>