<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title layout:title="Analisis de la encuesta"></title>
</head>
<main layout:fragment="content">
    <div class="container-fluid">
        
        <section>
            <canvas id="graficoPolar" style="width: 400px; height: 400px;"></canvas>

            <script th:inline="javascript">
                const etiquetas = ["Psicológica", "Lingüística", "Económica", "Política", "Social", "Navegacional"];
                const datos = [{puntosPsi, puntosLin, puntosEco, puntosPol, puntosSoc, puntosNav}];
            </script>


            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="/js/grafico-polar.js"></script>
        </section>
        
        <button type="submit" class="btn btn-primary">Entrar</button>
    </div>
    
</main>
</html>
