<!-- filepath: /workspace/src/main/resources/templates/headerInmigrante.html -->
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container px-5">
            <a class="navbar-brand" href="#">Welco</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Forum</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">My Events</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/login/logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>