<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
    <div th:if="${session.user != null}">
        <h1>Hola <span th:text="${session.user.username}"></span></h1>
    </div>
    <div th:unless="${session.user != null}">
        <h1>-_-</h1>
    </div>
<!-- BOTON QUE DESLOGEA - LOGUT-->
    <form th:action="@{/login/logout}" method="get">
        <button type="submit" class="btn btn-primary mt-4">Cerrar sesión</button>
    </form>
</body>
</html>
