<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title layout:title="Contraseña olvidada"></title>
</head>

<main layout:fragment="content">
    <div class="container-fluid">
        <form th:action="@{/forgot-password}" method="post" class="mx-auto gureForm">
            <button type="button" class="btn btn-link mb-2 p-0" onclick="window.history.back();" style="text-decoration:none;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z"/>
                </svg>
            </button>
            <h4 class="text-center" th:text="#{recuperar}">Recuperar Contraseña</h4>
            <label for="email" th:text="#{introduce}">Introduce tu correo electrónico:</label>
            <input type="email" id="email" name="email" class="form-control" required>
            <button type="submit" class="btn btn-primary mt-4" th:text="#{enlace}">Enviar enlace</button>
        </form>
    </div>
</main>
</html>