<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title layout:title="Recuperar Contraseña"></title>

</head>
<main layout:fragment="content">
    <div class="container-fluid">
        <form th:action="@{/reset-password}" method="post" class="mx-auto">
            <h4 class="text-center">Restablecer Contraseña</h4>
            <input type="hidden" name="email" th:value="${email}" />
            <div class="form-group">
                <label for="password">Nueva contraseña:</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Cambiar contraseña</button>
        </form>
    </div>
</main>
</html>